<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotest.test.dao.ApiMapper">

    <!--<select id="queryApi" parameterType="int" resultType="com.autotest.test.entity.ApiEntity">
        select * from scenario_variable where id = #{id}
    </select>-->

    <select id="queryId" parameterType="int" resultType="com.autotest.test.entity.ApiEntity">
        select * from api
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <select id="queryName" parameterType="String" resultType="com.autotest.test.entity.ApiEntity" >
        select * from api
        <where>
            <if test="name != null">
                name = #{name}
            </if>
        </where>
    </select>

    <select id="queryCompose" parameterType="String" resultType="com.autotest.test.entity.ApiEntity" >
        select * from api
        <where>
            <if test="url !=null and requestMethod != null" >
                url=#{url} and request_method = #{requestMethod}
            </if>
        </where>
    </select>

    <resultMap id="apiEntityList" type="com.autotest.test.entity.ApiEntity">
       <!-- <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>-->
    </resultMap>

    <select id="queryPage" parameterType="String" resultMap="apiEntityList">
        select * from api
    </select>

    <insert id="saveInfo" parameterType="com.autotest.test.entity.ApiEntity">
        <!--insert into api (app,name,describer)
        values (#{app},#{name},#{describer})-->
        insert into api (app,name,describer,scheme,url,request_method,content_Type,header,param,body)
        values (#{app},#{name},#{describer},#{scheme},#{url},#{requestMethod},#{contentType},#{header},#{param},#{body})
        <!--insert into api (app,name,url)values(#{app},#{name},#{url})-->
    </insert>

    <delete id="deleteInfo" parameterType="com.autotest.test.entity.ApiEntity">
        delete from api
        <where>
            <if test="id!=null">
                id in
            </if>
        </where>
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>

        <!--<where>
            <if test="id != null or name!=null or app!=null">
                id=#{id} or name=#{name} or app=#{app}
            </if>
        </where>-->
    </delete>

    <delete id="deleteById" parameterType="com.autotest.test.entity.ApiEntity">
    delete from api
    <where>
        <if test="id!=null">
            id = #{id}
        </if>
    </where>
    </delete>


    <update id="updateInfo" parameterType="map">
        update api
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="app!=null">
                app = #{app},
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>