<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotest.test.dao.ApiMapper">

    <select id="queryApi" parameterType="int" resultType="com.autotest.test.entity.ApiEntity">
        select * from scenario_variable where id = #{id}
    </select>

    <select id="queryApi" parameterType="int" resultType="com.autotest.test.entity.ApiEntity">
        select * from scenario_variable
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="app != null">
                app = #{app}
            </if>
        </where>
    </select>


    <insert id="saveApi" parameterType="com.autotest.test.entity.ApiEntity">
        INSERT INTO api (id, app,name,describer,url,request_method,,param,content_Type,header,create_time)
        VALUES (#{id}, 值2,....)
    </insert>


</mapper>